<section class="vh-50 gradient-custom">
    <div class="container py-2 h-50">
      <div class="row justify-content-center align-items-center h-50" style="padding: 50px;margin-top: 20px;">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;background-color: rgb(225, 232, 238);">
            <div class="card-body p-4 p-md-5" style="padding: 2rem !important">
              <h2 class="mb-4 pb-2 pb-md-0 mb-md-5" style="text-align: center;">Add your advertisement</h2> <br>
              <form style="margin-top: -25px;">
                <div class="row">
                  <div class="col-md-6 mb-4" >
                    <div class="form-outline">
                      <input type="text" id="firstName" class="form-control form-control-lg" placeholder="Ad Title" />
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="lastName" class="form-control form-control-lg" placeholder="Ad Location" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- <div class="col-md-6 mb-4 d-flex align-items-center">
                    <div class="form-outline datepicker w-100">
                      <input type="text" class="form-control form-control-lg" id="birthdayDate" placeholder="Price" />
                    </div>
                  </div> -->

                  <div class="col-md-6 mb-4">

                    <h6 class="mb-2 pb-1"> Ad Type</h6>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                        value="option1" checked />
                      <label class="form-check-label" for="femaleGender">Sell</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                        value="option2" />
                      <label class="form-check-label" for="maleGender">Buy</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                        value="option3" />
                      <label class="form-check-label" for="otherGender">Other</label>
                    </div>
  
                  </div>

                  
                  <div class="col-md-6 mb-4">

                    <select  class="form-select form-select-lg "  aria-label=".form-select-lg example" >
                        <option selected >Ad Plans</option>
                        <option value="100">1 week - 100₹</option>
                        <option value="150">2 week - 150₹</option>
                        <option value="200">1 month - 200₹</option>
                        <option value="500">6 month - 500₹</option>
                        <option value="1000">1 year - 1000₹ </option>
                      </select>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="email" id="emailAddress" class="form-control form-control-lg" placeholder="Email id" />
                      
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="number" id="phoneNumber" class="form-control form-control-lg" placeholder="Phone Number" />
                      
                    </div>
  
                  </div>
                </div>

                <div class="col-md-12 mb-4 pb-2">

                  <div class="form-outline">
                    <input type="text" id="image" class="form-control form-control-lg" placeholder="Details" />
  
                  </div>
  
                </div>
                
                <div class="col-md-12 mb-4 pb-2">
      
                    <div class="form-outline">
                      <input type="file" id="image" class="form-control form-control-lg" />
                      
                    </div>
  
                  </div>
                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" style="margin-left: -18em" />
                    <label class="form-check-label" for="form2Example3g">
                      I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                    </label>
                  </div>
  
                <div class="mt-4 pt-2" >
                  <input class="btn btn-primary btn-lg" type="submit" value="Submit" style="width: 100%;" />
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
