<section>
  
    <div class= "input-group col-xl-12 " style="margin-top: 80px;padding-left: 20%;padding-right: 20%;">
      <div class="dropdown">
        <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">filter
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <input class="form-control" id="myInput" type="text" placeholder="Search..">
          <li style="text-align: center;"><a href="#">Pg</a></li>
          <li style="text-align: center;"><a href="#">Sell</a></li>
          <li style="text-align: center;"><a href="#">Rent</a></li>
          <li style="text-align: center;"><a href="#">Hotel</a></li>
          <li style="text-align: center;"><a href="#">Electronics</a></li>
          <li style="text-align: center;"><a href="#">Auto mobile</a></li>
        </ul>
      </div> &nbsp; &nbsp;
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"  />
        <button type="button" class="btn btn-outline-primary">search</button>
        </div>
      
</section>


<!--Main layout-->


<div class="container">
    <!--Section: News of the day-->
    <section class="border-bottom pb-4 mb-5" style="margin-top: 30px;">
      <div class="row gx-5">
        <div class="col-md-6 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>
  
        <div class="col-md-6 mb-4">
          <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
          <h4><strong>Facilis consequatur eligendi</strong></h4>
          <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
            eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
            sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
          </p>
          <button type="button" class="btn btn-primary">Read more</button>
        </div>
      </div>
    </section>
    