
    <div class="form-body">
        <div class="row">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Add post</h3>
                        <p>Fill in the data below.</p>
                        <form class="requires-validation" novalidate>

                            <div class="col-md-12">
                               <input class="form-control" type="text" name="name" placeholder="Title" required>
                              
                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="email" name="email" placeholder="Location" required>
                                 
                            </div>

                           <div class="col-md-12">
                                <select class="form-select mt-3" required>
                                      <option selected disabled value="">Type</option>
                                      <option value="rent">Rent</option>
                                      <option value="sell">For sell</option>
                                      <option value="buying">For buying</option>
                               </select>
                                
                           </div>


                           <div class="col-md-12">
                              <input class="form-control" type="text" name="price" placeholder="Price" required>
                               
                           </div>
                            <div class="col-md-12">
                              <input class="form-control" type="text" name="contact" placeholder="Contact Number" required>
                               
                           </div>


                           <div class="col-md-12 mt-3">
                            <label class="mb-3 mr-1" for="gender">Gender: </label>

                            <input type="radio" class="btn-check" name="gender" id="male" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="male">Male</label>

                            <input type="radio" class="btn-check" name="gender" id="female" autocomplete="off" required>
                            <label class="btn btn-sm btn-outline-secondary" for="female">Female</label>

                            
                            
                               
                            </div>

                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                          <label class="form-check-label">I confirm that all data are correct</label>
                         <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                        </div>
                  

                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">Share Post</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
