<!-- <div class="w3-top" style="margin-top: 40px;">
    <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
      <div class="w3-button w3-padding-16 w3-left" onclick="">☰</div>
      <div class="w3-right w3-padding-16">Mail</div>
      <div class="w3-center w3-padding-16">My Food</div>
    </div>
  </div> -->

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1300px;margin-top:70px" id="home">
  <div class="col-xl-12" style="background-color: rgb(243, 247, 193);">
    <marquee scrollamount="10" direction="left" style="padding-top: 11px;" behavior="">
      <h4> <b> For publishing Ads externaly please contact 9000000000 </b></h4>
    </marquee>
  </div>

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="https://www.w3schools.com/w3images/sandwich.jpg" alt="Sandwich" style="width:100%">
      <h3>The Perfect Sandwich, A Real NYC Classic</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="https://www.w3schools.com/w3images/steak.jpg" alt="Steak" style="width:100%">
      <h3>Let Me Tell You About This Steak</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="https://www.w3schools.com/w3images/cherries.jpg" alt="Cherries" style="width:100%">
      <h3>Cherries, interrupted</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
      <p>What else?</p>
    </div>
    <div class="w3-quarter">
      <img src="https://www.w3schools.com/w3images/wine.jpg" alt="Pasta and Wine" style="width:100%">
      <h3>Once Again, Robust Wine and Vegetable Pasta</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
  </div>

  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="https://www.w3schools.com/w3images/wine.jpg" alt="Popsicle" style="width:100%">
      <h3>All I Need Is a Popsicle</h3>
      <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="https://www.w3schools.com/w3images/wine.jpg" alt="Salmon" style="width:100%">
      <h3>Salmon For Your Skin</h3>
      <p>Once again, some random text to lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="https://www.w3schools.com/w3images/wine.jpg" alt="Sandwich" style="width:100%">
      <h3>The Perfect Sandwich, A Real Classic</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    <div class="w3-quarter">
      <img src="https://www.w3schools.com/w3images/wine.jpg" alt="Croissant" style="width:100%">
      <h3>Le French</h3>
      <p>Lorem lorem lorem lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <div class="c" id="aboutus">
  <div class="about-section paddingTB60 gray-bg" >
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-6">
          <div class="about-title clearfix">
            <h1>About <span style="color: black;">Kochin<b style="color: red;">Bazzar</b></span></h1>
            <h3>Compleat website for kochin gooyz</h3>
            <p class="about-paddingB">This is the place that every kochin pullarz can search for any items
            anyone can buy anyone can sell, Also we provide advertising service for every clients with cheap plans</p>
            <div class="about-icons"> <br> <br> <br>
              <ul>
                <li><a href="https://www.facebook.com/"><i id="social-fb"
                      class="fa fa-facebook-square fa-3x social"></i></a> </li>
                <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                </li>
                <li> <a href="https://plus.google.com/"><i id="social-gp"
                      class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                <li> <a href="mailto:bootsnipp@gmail.com"><i id="social-em"
                      class="fa fa-envelope-square fa-3x social"></i></a> </li>
              </ul>

            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-6">
          <div class="about-img">
            <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>