<div style="margin-top: 70px;">
    <h1 style="text-align: center;">Favourites
        <i class="fa fa-heart" style="color: red;" aria-hidden="true"></i>
    </h1>

    <section class="border-bottom pb-4 mb-5" style="margin-top: 30px;margin-left: 1%; ">
        <div style="padding: 2%;;">
            <div class="row gx-5">
                <div class="col-md-2 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
                    <h4><strong>Facilis consequatur eligendi</strong></h4>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <!-- <button type="button" class="btn btn-primary">Read more</button> -->
                </div>
                <div class="col-md-2 mb-4">
                    <button class="btn" style="color: red;"><i class="fa fa-heart"></i></button>
                </div>

                <div class="col-md-2 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
                    <h4><strong>Facilis consequatur eligendi</strong></h4>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <!-- <button type="button" class="btn btn-primary">Read more</button> -->
                </div>
                <div class="col-md-2 mb-4">
                    <button class="btn" style="color: red;"><i class="fa fa-heart"></i></button>
                </div>

                <div class="col-md-2 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
                    <h4><strong>Facilis consequatur eligendi</strong></h4>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <!-- <button type="button" class="btn btn-primary">Read more</button> -->
                </div>
                <div class="col-md-2 mb-4">
                    <button class="btn" style="color: red;"><i class="fa fa-heart"></i></button>
                </div>
                <div class="col-md-2 mb-4">
                    <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                        <img src="https://mdbcdn.b-cdn.net/img/new/slides/080.webp" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2 mb-4">
                    <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">News of the day</span>
                    <h4><strong>Facilis consequatur eligendi</strong></h4>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <!-- <button type="button" class="btn btn-primary">Read more</button> -->
                </div>
                <div class="col-md-2 mb-4">
                    <button class="btn" style="color: red;"><i class="fa fa-heart"></i></button>
                </div>
             </div>
        </div>
     </section>
</div>