<nav class="navbar navbar-light bg-light bg-light " style="padding: 15px;padding-top: 5px;padding-bottom: 5px;">
      <li class="nav-item active ">
        <a routerLink="" class="nav-link align-middle px-0px ">
        <i class="fs-4 bi-house" style="margin-left: 60px" id="icon"></i> <span class="ms-1 d-none d-sm-inline"></span></a>
      </li>

      
      <li class="nav-item">
      <a routerLink="favourites" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
      <i class="fs-4 bi-heart" style="margin-left: -20px;" id="icon"></i> <span class="ms-1 d-none d-sm-inline"></span> </a>
                        
      </li>
      
      <li class="nav-item">
      <a routerLink="feeds" class="nav-link px-0 align-middle">
      <i class="fs-4 bi-stickies" id="icon"></i> <span class="ms-1 d-none d-sm-inline"></span></a>
                    
      </li>
      <li class="nav-item">
        <a href="#home" class="nav-link px-0 align-middle">
        <i class="fs-4 bi-arrow-bar-up" id="icon"></i> <span class="ms-1 d-none d-sm-inline"></span></a>
                      
        </li>
      <li class="nav-item">
        <a routerLink="login" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
      <i class="fs-4 bi-box-arrow-in-right" style="margin-right: 60px" id="icon"></i> <span class="ms-1 d-none d-sm-inline"></span></a>
                    
      </li>
    
  
</nav>