<nav class="navbar navbar-light bg-light bg-light " style="padding: 15px;padding-top: 5px;padding-bottom: 5px">
      <li class="nav-item active ">
        <a href="#" class="nav-link align-middle px-0px ">
        <i class="fs-4 bi-house" style="margin-left: 60px" id="icon"></i> <span class="ms-1 d-none d-sm-inline"></span></a>
      </li>
      <li class="nav-item">
      <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
      <i class="fs-4 bi-speedometer2" style="margin-left: -20px;" id="icon"></i> <span class="ms-1 d-none d-sm-inline"></span> </a>
                        
      </li>
      <li class="nav-item">
      <a href="#" class="nav-link px-0 align-middle">
      <i class="fs-4 bi-table" id="icon"></i> <span class="ms-1 d-none d-sm-inline"></span></a>
                    
      </li>
      <li class="nav-item">
        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
      <i class="fs-4 bi-bootstrap" style="margin-right: 60px" id="icon"></i> <span class="ms-1 d-none d-sm-inline"></span></a>
                    
      </li>
    
  
</nav>